*{
    
    margin: 0;
    padding: 0;
    font-family: "Noto Serif", serif;
}

i{

    font-size: small;
    color: black
}
header {

    background-color: cadetblue;
    text-align: center;
    padding-top: 10px;
    padding-top: 12px;
}

h1 {

    font-size: 30px;
    font-size: large;
}

li{
    font-size: 20px;
    outline-color: black;
    margin: auto;
    
}
a{
    color:#fff;
    text-decoration:none;
}

h1 {
    text-align: center;
    padding-top: 18px;
    padding-top: 1px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100dvh;
}

article{

    text-align: center;
    margin: 10px;
    width: 80%;
    border-style: solid;
    border-color: #222;
    border-width: 3px;
    border-radius: 10px;
}
    
article img{
    
    width: 250px;
    margin: 0 auto;
}

button{

    background-color: transparent;
    border-style:outset;
    border-color: grey;
    
}

@media(min-width: 600px){
    header{
        background-color: slateblue;
    }
    .contenedor{
        flex-direction: row;
    }
    article{
        width: 35%;
        height: auto;
    }
    
}

@media(min-width: 500px){
    header{
        background-color: cadetblue;
    }
}

nav{
    display: block;
}

ul{
    display: flex;
}

img{
   margin: 0 auto 
}

.card:hover{
    background-color: purple;
    transition: all is ease-in-out;
    transform: scale(1);
    color: darkred;
}

article:hover{
    transform: scale(1.05);
    transition: all 1s ease ;
}